# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# TypeScript
*.tsbuildinfo

# Output directories
out/
dist/

# VS Code
.vscode/
.vscode-test/

# MacOS
.DS_Store

# Environment variables
.env

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 